# Identifier

### A name in Python program is called Identifier.
### It can be a variable name, method name, class name.

In [ ]:
a=10 #`a` is the variable name which is a indetifier.

In [3]:
class Test: # 'Test' is the class name which is a identifier.
    pass

# Rules to define Identifier

### 1. Only allowed character in Python Identifiers are a-z,A-Z,0-9,_(underscore)

In [4]:
cash=10 # This is correct Identifier.
ca$h=10 # This is incorrect Identifier.

SyntaxError: invalid syntax (<ipython-input-4-d51f4e136396>, line 2)

### 2.Python Identifiers can not start with a digit.

In [5]:
123total=5 #This is incorrect Identifier.
total123=5 # This is correct Indetifier.

SyntaxError: invalid syntax (<ipython-input-5-2bee5318f424>, line 1)

### 3.Python Identifiers are case sensitive.

In [7]:
total=5
Total=10
TOTAL=15
# Here all 3 variable namme are different identifier name.

### 4.Python Identifiers length having no limit.

In [10]:
# Even though the length of idetifier having no limit but it is better to take identifier 
# which will increase program readability and not lengthy identifier.
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz=100
print(xxxxxxxxxxxxxxxxxxxxxxxxxxxxxyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz)

100

### 5.Reserved Words of Python can not be used as Identifier.

In [11]:
if=20 # Not Valid
If=20 # Perfectly Valid

SyntaxError: invalid syntax (<ipython-input-11-03da720bf8ce>, line 1)

Which of the following are valid pyhton identifier?
cash Valid
ca$h Invalid
total123 Valid
123total Invalid
all@hands Invalid
java2share Valid
if Invalid
_nitesh__python Valid

Important Note:
  x     (Normal Variable)
 _x     (Protected Variable)
__x     (Private Variable)
__x__   (Magic Variable)

# Reserved Word

### The words which are reserved to represent some meaning or funtionality is called Reserved Word.

#Total Reserved Word in Python - 33
True, False, None
and, or, not
if, elif, else
while, for, break, 
pass, continue, yield, 
return, in, try, 
except, finally, raise, 
assert, import, from, 
as, class, def, 
global, nonlocal, lambda, 
del, with, is, 
aync, await

#### 1. Contains only alphabet symbol.
#### 2. All reserved words having lowercase alphabet except True,False,None.
#### 3. switch,do while etc are required in python
#### 4. Reserved words like int,float,bool etc. are not reserved word in python.

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [15]:
len(keyword.kwlist)

35

# Python Data Types

#### In python while declaring a variable, we don't need to declare its type explicilty. Based on your value provided type will be declared automatically  which makes Python a Dynamically Typed Programming Language.

In [ ]:
int a = 5 # Not Valid
a = 5 # Perfectly Valid
type(a)

In [19]:
x=True
type(x)

bool

In [18]:
print(type(x))

<class 'bool'>

#### There are altogether 14 data types avaliable in python.

In [ ]:
int # long datatype is avaliable in Python 2
float 
bool 
complex
str

list
tuple
dict
set
frozenset

bytes
bytearray
range
None

# Note: Everything in python is Object

In [21]:
a=10
print(type(a))

<class 'int'>

In [22]:
print(id(a))

140706749453408

In [23]:
print(a)

10

# int Data Type

In [31]:
a=10
type(a)

int

In [32]:
a=1033333333333333333333333333333335555555555555555555555555555567777777777777777777777777888888888888888
type(a)

int

# We can represent int data type in 4 ways.
### 1.Decimal(By Default)
### 2.Binary
### 3.Octal
### 4.Hexadecimal

In [28]:
a=0B1115 # Not in Binary form, allowed character 0 and 1
print(a)

SyntaxError: invalid syntax (<ipython-input-28-e96a9e2f3aa4>, line 1)

In [ ]:
a=0B111 # Valid Binary, allowed character 0 and 1
print(a)

In [30]:
a=0O2359 # Not in Octal form, allowed character 0 to 7
print(a)

SyntaxError: invalid syntax (<ipython-input-30-b89a972aa0bb>, line 1)

In [29]:
a=0O123 # Valid Octal form, allowed character 0 to 7
print(a)

83

In [35]:
a=0X10 # Valid Hexadecimal form, allowed character 0 to 9, A to F
print(a)

16

In [36]:
a=0XBEEF # Valid Hexadecimal form, allowed character 0 to 9, A to F
print(a)

48879

In [37]:
a=0XBARE # Not in Hexadecimal form, allowed character 0 to 9, A to F
print(a)

SyntaxError: invalid syntax (<ipython-input-37-118e2746ed02>, line 1)

# Base Conversion Functions

In [ ]:
bin() # Any other base to binary
oct() # Any other base to octal
hex() # Any other base to hexadecimal

In [39]:
a=7
print(bin(a))

0b111

In [41]:
a=12
print(oct(a))

0o14

In [44]:
a=48879
print(hex(a))

0xbeef

# float Data Type

In [45]:
x=12.33
type(x)

float

#### floating point value can be represent only in Decimal form. Binary, Octal, Hexadecimal representation are not allowed.

In [48]:
x=124.555 # Valid floating number

In [47]:
x=0B11.1111 # Invalid floating number

SyntaxError: invalid syntax (<ipython-input-47-242fad99349e>, line 1)

In [49]:
x=0O11.45 # Invalid floating number

SyntaxError: invalid syntax (<ipython-input-49-3f20b09b997b>, line 1)

In [54]:
x=0X11.98 # Invalid floating number

SyntaxError: invalid syntax (<ipython-input-54-1e01d47f3372>, line 1)

#### Exponential form / Scientific Notation

In [56]:
x=1.2e3 # 1.2*10*10*10
print(x)

1200.0

# complex Data Type

In [58]:
x=10+20j
type(x)

complex

In [59]:
x.real

10.0

In [61]:
x.imag

20.0

In [62]:
x=10+20i # Not a Valid Complex Number Representation

SyntaxError: invalid syntax (<ipython-input-62-f6f4322ec309>, line 1)

#### Complex Number having Real Part as Well as Imaginary Part.
#### Real Part can be represent in Decimal, Binary, Octal or Hexadecimal form.
#### Imaginary Part can be only represent in Decimal form.

In [64]:
x=0B11+10j # Valid

In [67]:
x=0O155+10j # Valid

In [69]:
x=0X15A+10j # Valid

#### Arithmetic Operation between 2 complex number.

In [70]:
x=2+3j
y=4+7j

In [71]:
x+y

(6+10j)

In [72]:
x-y

(-2-4j)

In [74]:
x*y

(-13+26j)

In [75]:
x/y

(0.4461538461538461-0.03076923076923078j)

# bool Data Type

In [76]:
b=True
type(b)

bool

In [77]:
b=true # Invalid Intialisation

NameError: name 'true' is not defined

In [78]:
a=10
b=15
c=a>b

In [79]:
print(c)

False

In [80]:
type(c)

bool

In [89]:
print(True+True)

2

In [85]:
print(True-False)

1

In [84]:
print(True*True)

1

In [88]:
print(True/True)

1.0

In [90]:
print(True/False)

ZeroDivisionError: division by zero

# str Data Type

### Any sequence of characters is treated as string

In [ ]:
# Examples
s="Nitesh"
str='Kumar'

In [ ]:
type(s)

In [ ]:
type(str)

### We can intialize a string with a single or double quotes.Sometimes nesting of both required.

In [2]:
s='a'
type(s)

str

In [1]:
s="what's your name?"
type(s)

str

### We can also initialize string with in triple quotes.
### Note: How to intialize multiline string using single or double quote?

In [9]:
# Direct way can't be use for multiline string initialization.
print("Nitesh 
Kumar")

SyntaxError: EOL while scanning string literal (<ipython-input-9-ed1ac4d87cb7>, line 2)

In [8]:
 # Way to initialization multiline string.
print("Nitesh \
Kumar")

Nitesh Kumar

### We can also use directly triple quote to intialize the string.

In [12]:
s="""Nitesh
Kumar"""
print(s)

Nitesh
Kumar

### The only difference using (single or double)/triple quotes in the output string. Single or Double shows output in a single line where as triple quote shows as it.

### We can also use triple quotes where in a string we have both single and double quotes.

In [14]:
s="""Which's your phone? Its "Redmi Note 4"
"""

In [15]:
print(s)

Which's your phone? Its "Redmi Note 4"

# String Index

In [18]:
s= "Nitesh"

In [19]:
print(s[0])

N

In [26]:
print(s[5])

h

In [21]:
print(s[100])

IndexError: string index out of range

### Python provides support for both positive and negative index.

In [22]:
print(s[-1])

h

In [24]:
print(s[-6])

N

In [25]:
print(s[-7])

IndexError: string index out of range

# slice Operator

### s[begin:end] will return from begin index till end-1 index.

In [27]:
s="Nitesh"

In [29]:
print(s[1:2])

i

In [ ]:
The default index for begin is 0.
The default index for end is end.

In [30]:
print(s[:4])

Nite

In [31]:
print(s[1:])

itesh

In [32]:
print(s[:])

Nitesh

### Note: Slice operator negative going to raise index out of bound error.

In [34]:
print(s[1:100]) # Empty string will be obtained after end of string

itesh

## slice Opeartor Application

In [56]:
# convert "nitesh" as "Nitesh" with the help of positive index only
input="nitesh"
output=input[0].upper()+input[1:]
print(output)
# convert "nitesh" as "Nitesh" with the help of negative index only
output=input[-len(input)].upper()+input[-len(input)+1:]
print(output)

Nitesh
Nitesh

In [55]:
# convert "nitesh" as "nitesH" with the help of positive index only
input="nitesh"
output=input[:len(input)-1]+s[len(input)-1].upper()
print(output)
# convert "nitesh" as "nitesH" with the help of negative index only
output=input[:-1]+input[-1].upper()
print(output)

nitesH
nitesH

In [57]:
# convert "nitesh" as "NitesH" with the help of positive index only
input="nitesh"
output=input[0].upper()+input[1:len(input)-1]+s[len(input)-1].upper()
print(output)
output=input[-len(input)].upper()+input[-len(input)+1:-1]+input[-1].upper()
print(output)

NitesH
NitesH

# + and * Operator with String

### We can apply `+` Operator between two string type which will do the concatenating of both string.

In [60]:
f="Nitesh"
l=" Kumar"
print(f+l)

Nitesh Kumar

In [61]:
print("Nitesh"+" Kumar")

Nitesh Kumar

In [62]:
print("Nitesh"+ 1)

TypeError: can only concatenate str (not "int") to str

## `*` operator is used with a string to replicate the value of string.

In [63]:
s="Nitesh"*3
print(s)

NiteshNiteshNitesh

In [64]:
s=3*"Nitesh"
print(s)

NiteshNiteshNitesh

# Conclusions:
1.The following datatype is considered as fundamental datatype of Python
    1:int
    2:float
    3:bool
    4:complex
    5:str
2.long datatype is only avaliable in Python 2.0.
3.char datatype is not avaliable in Python.

# TypeCasting

There are 5 avaliable functions for typecasting.
1.int()
2.float()
3.complex()
4.bool()
5.str()

# int()

### To convert other datatype to int datatype we use int().

In [ ]:
float---int
bool---int
complex---int(not possible)
str---int

In [67]:
print(int(10.555))#float-int
print(int(True))#bool-int

10
1

In [68]:
print(int(2+3i)) # complex can't convert to int

SyntaxError: invalid syntax (<ipython-input-68-599bc9f24830>, line 1)

In [69]:
#We can convert a string to int if and only if string should containg integral value in decimal form
#(binary,octal,hexadecimal,float are not allowed)
print(int("nitesh"))

ValueError: invalid literal for int() with base 10: 'nitesh'

In [70]:
print(int("12345"))

12345

In [71]:
print(int("0B1011"))

ValueError: invalid literal for int() with base 10: '0B1011'

In [72]:
print(int("10.5"))

ValueError: invalid literal for int() with base 10: '10.5'

# float()

### To convert other datatype to float datatype we use float().

In [ ]:
int(any form decimal,binary,octal,hexadecimal)---float
bool---float
complex---float(not possible)
str---float

In [73]:
print(float(10))

10.0

In [74]:
print(float(0B10))

2.0

In [75]:
print(float(0O10))

8.0

In [76]:
print(float(0X10))

16.0

In [77]:
print(float(2+3i))

SyntaxError: invalid syntax (<ipython-input-77-a3bd046dd670>, line 1)

In [78]:
print(float(True))

1.0

In [79]:
print(float(False))

0.0

### string to float will happen if string contains integral value in decimal form or floating value inside.

In [80]:
print(float("10.5"))

10.5

In [81]:
print(float("10"))

10.0

In [82]:
print(float("0B11"))

ValueError: could not convert string to float: '0B11'

In [83]:
print(float("nitesh"))

ValueError: could not convert string to float: 'nitesh'

# complex()

### To convert other datatype to complex datatype we use complex().

In [ ]:
int--complex
float--complex
bool--complex
str--complex

# form1 : complex(x)

In [3]:
# int -- complex
print(complex(10))
print(complex(0B1111))
print(complex(10.5))
print(complex(True))
print(complex(False))
# for string to complex string should contain intgral value in form of decimal or float value.
print(complex("10"))
print(complex("10.5"))
print(complex("0B1111"))

(10+0j)
(15+0j)
(10.5+0j)
(1+0j)
0j
(10+0j)
(10.5+0j)

ValueError: complex() arg is a malformed string

# form2 : complex(x,y)

In [4]:
print(complex(10,20))

(10+20j)

In [5]:
print(complex(10.5,5.7))

(10.5+5.7j)

In [6]:
print(complex("10","20"))

TypeError: complex() can't take second arg if first is a string

In [7]:
print(complex("10",20))

TypeError: complex() can't take second arg if first is a string

In [8]:
print(complex(10,"20"))

TypeError: complex() second arg can't be a string

# bool()

### To convert other datatype to complex datatype we use complex().

In [ ]:
int--bool
float--bool
str--bool
complex--bool

### If we pass any nonzero value in bool then it will return True and if we pass zero then it will return False.

In [13]:
print(bool(1))
print(bool(23))
print(bool(-5))
print(bool(10.5))
print(bool(0))
print(bool(0.0))

True
True
True
True
False
False

In [14]:
# if both real and img part is zero then it will return False else True.
print(bool(0+0j))
print(bool(1+0j))

False
True

In [17]:
# if string is empty then it is considered as False else True
print(bool("True"))
print(bool("False"))
print(bool("None"))
print(bool(""))

True
True
True
False

# str()

In [21]:
# Any conversion is possible
print(str(10))
print(str(0B1111))
print(str(10.5))
print(str(10+2j))

10
15
10.5
(10+2j)

In [20]:
print(str(True))
print(str(False))

True
False

# Fundamental Datatype(int,float,bool,str,complex) Vs Immutability

Mutable - Changeable
Immutable - Non Changeable
Once we create an Fundamental Datatype object we can't perform any changes in that object. If we are trying to perform any changes then with those changes a new object will be created.

In [23]:
x=10
print(id(x))
# Here x is pointing to 10 and having a unique address
x=x+1
print(id(x))
# Here we can see that earlier x was point to "140722651698272" addess but after change in x created a new object and x is 
# pointing to new address "140722651698304". Hence now old reference "140722651698272" is not pointing by any variable hence,
# it will be ready for Garbage Collector.

140722651698272
140722651698304

In [24]:
x=10
print(id(x))
# Here x is pointing to 10 and having a unique address
y=x
print(id(y))
# Here we can see that both x and y share the same address.
y=y+1
# After making change in y a new object will get create and x will point to old i.e 10 and y will point to new i.e 11.
print(id(x))
print(id(y))

140722651698272
140722651698272
140722651698272
140722651698304

# Object Reusability

In [25]:
x=10
y=10
print(x is y)
print(id(x))
print(id(y))

True
140722651698272
140722651698272

In [30]:
x=10.5
y=10.5
print(x is y)
print(id(x))
print(id(y))
# But in Spyder it will show True.

False
273754764488
273754765280

In [27]:
x=True
y=True
print(x is y)
print(id(x))
print(id(y))

True
140722651175248
140722651175248

In [28]:
x="nitesh"
y="nitesh"
print(x is y)
print(id(x))
print(id(y))

True
273742479576
273742479576

In [29]:
x=10+2j
y=10+2j
print(x is y)
print(id(x))
print(id(y))

False
273755142416
273755142352

#### Note: Object resulabilty is True for only int,str and bool datatype and not valid for complex and float data type

### Mutable Example

In [31]:
l=[1,2,3,4,5]
print(l)
print(id(l))
l[0]=100
print(l)
print(id(l))

[1, 2, 3, 4, 5]
273754420488
[100, 2, 3, 4, 5]
273754420488

In [ ]:
# l1=[1,2,3,4,5]
l2=l1
print(id(l1))
print(id(l2))
print(l1)
print(l2)
l1[0]=7777
print(id(l1))
print(id(l2))
print(l1)
print(l2)

# Collection Related Data Type

In [ ]:
List
Tuple
Set
Frozenset
Dictinary
Range
Bytes
BytesArray

# List

### A list is used where order is important and duplicate are allowed.
### [ ] is used to declare a list.

In [2]:
l=[10,'nitesh',20,30,40]
print(type(l))

<class 'list'>

# Note: 
####       1.Order Preserved
####       2.Duplicate Allowed
####       3.Value should be under []
####       4.Hetrogeneous Object
####       5.Mutable
####       6.Growable In Nature(create,append,remove possible)

# Accessing Element of List
## 1.Indexing 2.slice operator

In [4]:
print(l[0])
print(l[-1])

10
40

In [5]:
print(l[1:4])

['nitesh', 20, 30]

# Creating and Adding Element to a List

In [7]:
l=[] # Created empty list
l.append(10) # Added 1st element to the list
l.append(20) # Added 2st element to the list
l.append(30) # Added 3rd element to the list
l.append(40) # Added 4th element to the list
print(l)

[10, 20, 30, 40]

# Removing Element from List

In [8]:
l.remove(20)

In [9]:
print(l)

[10, 30, 40]

# Tuple

#### It is exactly same as List except of onee change i.e immutable.
#### It is also called Read Only Version of List.

In [10]:
t=(12,'nitesh,20,30')
print(type(t))

<class 'tuple'>

# Note: 
####       1.Order Preserved
####       2.Duplicate Allowed
####       3.Value should be under ( )
####       4.Hetrogeneous Object
####       5.Immutable

# Accessing Element of List
## 1.Indexing 2.slice operator

In [11]:
print(t[0])
print(t[-1])

12
nitesh,20,30

# Assigment,Append,Remove is not allowed because tuple is immutable.

In [12]:
t[0]=999

TypeError: 'tuple' object does not support item assignment

In [13]:
t.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
t.remove(12)

AttributeError: 'tuple' object has no attribute 'remove'

# Note: Single Value inside a parenthesis will never be treated as tuple.

In [18]:
t=(10)
t1=t
print(type(t))
print(id(t))
print(id(t1))

<class 'int'>
140722998252640
140722998252640

In [19]:
t=(12,)
t1=t
print(type(t))
print(id(t))
print(id(t1))

<class 'tuple'>
691429448280
691429448280

List Vs Tuple
1. Mutable     1.Immutable
2. [ ]         2.( )
3. More Memory 3.Less Memory
4. Performence 4. Faster Access 
   is less

# Set

In [24]:
s={10,20,30} # Duplicates not allowed, if avaliable then ignored.
print(type(s))
print(s)

<class 'set'>
{10, 20, 30}

In [23]:
s={10,20,30,10,20} # Duplicates not allowed, if avaliable then ignored.
print(type(s))
print(s)

<class 'set'>
{10, 20, 30}

##### Order is not Preserved we can see here.
##### Index and Slice operator concept to access is not applicable.

# Adding and Removing Element in a Set

In [25]:
s={10,20,30}

In [27]:
s.add(40)
print(s)

{40, 10, 20, 30}

In [28]:
s.add(50)
print(s)

{40, 10, 50, 20, 30}

### append() always append element in the last of the list. But add() can add element to the set at any position after getting duplicate information. So append() is not possible for set.

In [29]:
s.remove(50)
print(s)

{40, 10, 20, 30}

# Note : '{ }' There is not such term empty set , this is called dict type.

In [31]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

# To create empty set we use set() function.

In [33]:
s=set()
print(type(s))

<class 'set'>

Note: 
     1.Duplicate are not allowed
     2.Order is not preserved
     3.Indexing/Slicing not possible
     4.Hetrogeneous Element
     5.Growable in nature
     6.Mutable

In [ ]:
Difference between List and Set
1.order preserved       1.order not preserved
2.duplicates allowed    2. not allowed
3. [ ]                  3.{ }

In [34]:
s={10,20,30}
s1=s
print(id(s))
print(id(s1))

691430248968
691430248968

In [36]:
s.add(40)
print(id(s))
print(id(s1))
print(s)
print(s1)

691430248968
691430248968
{40, 10, 20, 30}
{40, 10, 20, 30}

# FrozenSet

## Frozen set is same as Set except for one change i.e it is immutable.

In [38]:
s={10,20,30,40}
fr=frozenset(s)
print(type(s))

<class 'set'>

In [39]:
fr.add(50)

AttributeError: 'frozenset' object has no attribute 'add'

In [40]:
fr.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
Difference Between Tuple and FrozenSet
1. Order preserved           1.not preserved
2. Duplicate are allowed     2.Not allowed
3.Index/Slice allowed        3.Not allowed

# Dictionary

d={k1:v1,k2:v2,k3:v3}

In [42]:
d={"Mango":"A Delicious fruit","Cricket":"A Game Joy to Watch"}
print(type(d))
print(d)

<class 'dict'>
{'Mango': 'A Delicious fruit', 'Cricket': 'A Game Joy to Watch'}

### Keys in dictionary can not be duplicated. We can not get error but it will overwrite the value.

In [44]:
d={"Mango":"A Delicious fruit","Cricket":"A Game Joy to Watch"}
print(d)
d["Mango"]="A Seasonal fruit"
print(d)

{'Mango': 'A Delicious fruit', 'Cricket': 'A Game Joy to Watch'}
{'Mango': 'A Seasonal fruit', 'Cricket': 'A Game Joy to Watch'}

In [47]:
d1={100:"Nitesh",100:"Kumar"}
print(d1)

{100: 'Kumar'}

In [48]:
d2={100:"Nitesh",101:"Kumar"}
print(d2)

{100: 'Nitesh', 101: 'Kumar'}

Note:
    1.Key Value Pair
    2.Order not preserved
    3.duplicate keys not allowed
    4.hetrogeneous objects
    5.mutable
    6.indexing/slicing not possible

# range Datatype

In [49]:
r=range(10) # 0 to 9
print(type(r))

<class 'range'>

In [51]:
print(r)
for items in r:
    print(items)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

Form 1: range(n) # from 0 to n-1
    range(10) # 0 to 9
    range(100) # 0 to 99
Form 2: range(begin,end) # begin to end-1
    range(10,100) # 10 to 99
    range(1,11) # 1 to 10
Form 3: range(begin,end,increment/decrement)
    range(1,21,1) # 1 to 20(default increment)
    range(1,21,2) # 1,3,5,7,9....19

In [52]:
for items in range(21,1,-5):
    print(items)

21
16
11
6

## Order preserved that is why Indexing and Slicing can be possible with range Datatype.

In [53]:
l=range(10,100,2)
print(l[1])

12

In [55]:
l=range(10,100,2)
print(l[10:20])
for items in l[10:20]:
    print(items)

range(30, 50, 2)
30
32
34
36
38
40
42
44
46
48

# range Object is immutable.

In [58]:
l=range(10,100,2)
print(type(l))
l[20]=10000

<class 'range'>

TypeError: 'range' object does not support item assignment

# bytes Datatype

In [59]:
l=[10,20,30,40]
b=bytes(l)
print(type(b))

<class 'bytes'>

In [61]:
for x in b:
    print(x)

10
20
30
40

### This Datatype is useful for handing binary data file such as(audio,video,image etc).

### Allowed range for bytes datatype is 0 to 255.

In [62]:
l=[256]
b=bytes(l)

ValueError: bytes must be in range(0, 256)

### Bytes data type is Immutable.

In [66]:
l=[10,20,30,40,50]
b=bytes(l)
for x in b:
    print(x)
b[1]=100

10
20
30
40
50

TypeError: 'bytes' object does not support item assignment

# bytearray Datatype

### The only difference between bytes and bytearray is that it is mutable.

In [67]:
l=[10,20,30,40]
b=bytearray(l)
print(type(b))

<class 'bytearray'>

In [68]:
for x in b:
    print(x)

10
20
30
40

In [69]:
b[1]=100

In [70]:
for x in b:
    print(x)

10
100
30
40

In [ ]:
1.range value 0 to 255(including)
2.mutable

In [ ]:
DataType        Description            is it Immutable?                Order Preserved?                Duplicate Allowed?
int       To represent whole number        yes                               no
float
complex
bool
str
list
tuple
set
frozenset
dict
range
bytes
bytearray